<!-- partial view - can be used in different files;  -->
<!-- name needs to start with an underscore -->
<%= form_for @dinosaur do |f| %>

<!-- error message -->
  <ul>
    <% @dinosaur.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<!-- form -->
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :age %>
  <%= f.number_field :age %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit (@dinosaur.new_record? ? "Create" : "Update") %>
<% end %>
